@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&display=swap');

body {

  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

.tool::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1; /* Light neutral background */
}

.tool::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Medium gray for thumb */
  border: 1px solid #888888; /* Slight contrast for border */
  border-radius: 8px;
}
